
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    NAVBAR STYLE
----------------------------------------------------- */

.navbar-fixed-top {
    display: none;
    padding: 5px;
    background: #000;
    border: none;
    border-radius: 0;
    margin-bottom: 0px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-header {
    padding-left: 5px;
    white-space: nowrap;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.btn-info {
    background-color: #696969 !important;
}

#navbar-format {
    width: 100%;
}

.navbar-main {
    width: 70%;
}

.navbar-non-main {
    width: 15%;
    display: inline-block;
    padding: 0px;
}

#navbar-button {
    padding: 0px;
}

#navbar-text {
    text-align: center;
    vertical-align: center;
    color: #fff;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
    z-index: 999998;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a, ul.CTAs p {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

#clear-viz {
    background: #fff;
    color: #7386D5 !important;
}

#clear-viz:hover {
    font-size: 1.0em !important;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    padding: 0px;
    min-height: 100vh;
    transition: all 0.3s;
    width: 100%;
}

.fullWidth {
    height: 100%;
    width: 100%;
}

/* ---------------------------------------------------
    LEAFLET MAP STYLE
----------------------------------------------------- */

.leaflet-control br {
  clear: both;
}

.info {
    padding: 12px 16px;    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #FFFFFF;
}

.legend {
    line-height: 18px;
    color: #555;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

/* ---------------------------------------------------
    SEARCH BAR STYLE
----------------------------------------------------- */

#searchbar-input {
    background: linear-gradient(#333, #222);
    border: 1px solid #444;
    color: #888;
    display: block;
    float: left;
    font-size: 13px;
    height: 30px;
    padding-left: 4%;
    padding-right: 4%;
    width: 80%;
    border-radius: 3px 0px 0px 3px;
}

input::placeholder {
    color: #EEE;
}

input:focus::-webkit-input-placeholder 
{
    color: transparent;
}

#searchbar {
    background: transparent linear-gradient(#2C2C2C, #111);
    border-width: 1px;
    border-style: solid;
    border-color: #000;
    border-radius: 4px;
    padding: 10px;
    z-index: 999999;
    display: none;
    margin: 10px auto;
    width: 50%;
    position: absolute;
    top: 10%;
    left: 25%;
}

.searchbar-submit {
    box-shadow: 0 2px #000;
    font-family: 'Cabin', helvetica, arial, sans-serif !important;
    margin: 0px;
    margin-left: 1%;
    margin-right: 1%;
    height: 30px;
    width: 18%;
    border-radius: 4px;
    font-size: 20px;
    text-align: center;
    vertical-align: center;
}

/* ---------------------------------------------------
    ERROR BOX STYLE
----------------------------------------------------- */

#errorbox {
    display: none;
    position: absolute;
    top: 20%;
    left: 27%;
    width: 46%;
    border-color: red;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    background-color: #FF93AC;
    opacity: 0.9;
    z-index: 999999;
    font-size: 18px;
    color: red;
    padding: 10px;
    word-wrap: break-word;
}
        
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {

    body.noScroll {
        overflow: hidden;
    }

    #sidebar {
        margin-top: 58px;
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0;
    }

    .navbar-fixed-top {
        display: block;
    }

    .info {
        padding: 3px 4px;    font: 8px/10px Arial, Helvetica, sans-serif !important;
        background: white !important;
        background: rgba(255,255,255,0.8) !important;
        box-shadow: 0 0 15px rgba(0,0,0,0.2) !important;
        border-radius: 3px !important;
        position: fixed !important;
        bottom: 8px !important;
        right: 2px !important;
    }

    .fullWidth {
        height: 100%;
        width: 100%;
        margin-top: 58px;
    }

    .info h4 {
        margin: 0 0 2px !important;
        color: #FFFFFF !important;
    }

    .legend {
        line-height: 10px;
        color: #555;
    }

    .legend i {
        width: 10px;
        height: 10px;
        float: left;
        margin-right: 5px;
        opacity: 0.7;
    }

    #searchbar {
        width: 80%;
        top: 2%;
        left: 10%;
        min-width: 256px;
        overflow: hidden;
    }

    #errorbox {
        width: 80%;
        top: 15%;
        left: 10%;
        min-width: 256px;
        overflow: hidden;
    }
}

/* ---------------------------------------------------
    LOADING SCREEN
----------------------------------------------------- */

#loadingScreen {
    background: #D3D3D3;     
    position: absolute;  
    top: 0;                 
    right: 0;                
    bottom: 0;
    left: 0;
    opacity: 0.6;
    z-index: 999999;
    text-align: center;
    display: none;
}

#loadingIcon {
    font-size: 50px !important;
    top: 50%;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spinWebkit .7s infinite linear;
    -moz-animation: spinMoz .7s infinite linear;
}

@-webkit-keyframes spinWebkit {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spinMoz {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}